<% 
  n = 0
%>
<table id="diary" class="export">
  <caption>Tags</caption>
  <thead>
    <th>Tag</th>
    <th>Page</th>
    <th>Page type</th>
    <th>Page number</th>
    <th>Count</th>
    <th>DateTime</th>
    <th>Date</th>
    <th>Place</th>
    <th>Lat/Lon</th>
    <th>Time</th>
    <th>Type</th>
    <th>Label</th>
    <th>Data</th>
  </thead>
  <tbody>
  <% @timeline.each do |d| %>
    <% n += 1 %>
    <tr>
      <td><%= n %></td>
      <td><%= d["page"] %></td>
      <td><%= d["page_type"]%></td>
      <td><%= d["page_number"] %></td>
      <td><%= d["count"] %></td>
      <td class="nowrap"><%= d['datetime'] %></td>
      <td class="nowrap"><%= d['date'] %></td>
      <td><%= d['place'] %></td>
      <td><%= d['coords'].to_s %></td>
      <td><%= d['time'] %></td>
      <td><%= d["type"] %></td>
      <td><%= d['label'] %></td>
      <td>
        <% d['votes'].each do |k,v| %>
        <%= k %>: <%= v.join(', ') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>