<% 
  n = 0
  date = ''
  place = ''
  time = ''
  datetime = ''
%>
<a href="#diary">Diaries</a>
<a href="#signals">Signals</a>
<a href="#reports">Reports</a>
<a href="#orders">Orders</a>
<table id="diary" class="export">
  <caption>Diary pages</caption>
  <thead>
    <th>Tag</th>
    <th>Page</th>
    <th>Page number</th>
    <th>Count</th>
    <th>DateTime</th>
    <th>Date</th>
    <th>Place</th>
    <th>Time</th>
    <th>Type</th>
    <th>Label</th>
    <th>Data</th>
  </thead>
  <tbody>
  <% @tags['diary'].each do |d| %>
    <% n += 1 %>
    <% case d["type"] %>
    <% when "diaryDate" %>
    <% date = d["label"] %>
    <% datetime = Date.strptime( date, '%d %b %Y' )%>
    <% time = '' %>
    <% when "time" %>
    <% time = d["label"] %>
    <% datetime = DateTime.strptime( "#{date} #{time}", '%d %b %Y %I%M%p' ) if date != '' %>
    <% when "place" %>
    <% place = d["label"] if d["votes"]["location"].keys == ['true'] %>
    <% end %>
    <tr>
      <td><%= n %></td>
      <td><%= d["page"] %></td>
      <td><%= d["page_number"] %></td>
      <td><%= d["count"] %></td>
      <td><%= datetime %></td>
      <td class="nowrap"><%= date %></td>
      <td><%= place %></td>
      <td><%= time %></td>
      <td><%= d["type"] %></td>
      <td><%= d['label'] %></td>
      <td>
        <% d['votes'].each do |k,v| %>
        <%= k %>: <%= v.keys.join(', ') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<table id="signals" class="export">
  <caption>Signals</caption>
  <thead>
    <th>Tag</th>
    <th>Page</th>
    <th>Page number</th>
    <th>Count</th>
    <th>Type</th>
    <th>Label</th>
    <th>Data</th>
  </thead>
  <tbody>
  <% @tags['signals'].each do |d| %>
    <% n += 1 %>
    <tr>
      <td><%= n %></td>
      <td><%= d["page"] %></td>
      <td><%= d["page_number"] %></td>
      <td><%= d["count"] %></td>
      <td><%= d["type"] %></td>
      <td><%= d['label'] %></td>
      <td>
        <% d['votes'].each do |k,v| %>
        <%= k %>: <%= v.keys.join(', ') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<table id="reports" class="export">
  <caption>Reports</caption>
  <thead>
    <th>Tag</th>
    <th>Page</th>
    <th>Page number</th>
    <th>Count</th>
    <th>Type</th>
    <th>Label</th>
    <th>Data</th>
  </thead>
  <tbody>
  <% @tags['report'].each do |d| %>
    <% n += 1 %>
    <tr>
      <td><%= n %></td>
      <td><%= d["page"] %></td>
      <td><%= d["page_number"] %></td>
      <td><%= d["count"] %></td>
      <td><%= d["type"] %></td>
      <td><%= d['label'] %></td>
      <td>
        <% d['votes'].each do |k,v| %>
        <%= k %>: <%= v.keys.join(', ') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<table id="orders" class="export">
  <caption>Orders</caption>
  <thead>
    <th>Tag</th>
    <th>Page</th>
    <th>Page number</th>
    <th>Count</th>
    <th>Type</th>
    <th>Label</th>
    <th>Data</th>
  </thead>
  <tbody>
  <% @tags['orders'].each do |d| %>
    <% n += 1 %>
    <tr>
      <td><%= n %></td>
      <td><%= d["page"] %></td>
      <td><%= d["page_number"] %></td>
      <td><%= d["count"] %></td>
      <td><%= d["type"] %></td>
      <td><%= d['label'] %></td>
      <td>
        <% d['votes'].each do |k,v| %>
        <%= k %>: <%= v.keys.join(', ') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>