<% 
  n = 0 
%>
<table class="timeline">
  <thead>
    <th>Tag</th>
    <th>Page</th>
    <th>Page number</th>
    <th>Type</th>
    <th>Label</th>
    <th>Count</th>
    <th>Data</th>
  </thead>
  <% @tags.each do |d| %>
  <% n += 1 %>
  <tr class="<%= d["type"] %>">
    <td><%= n %></td>
    <td><%= d["page"] %></td>
    <td><%= d["page_number"] %></td>
    <td><%= d["type"] %></td>
    <td><%= d["tag"]['label'] %></td>
    <td><%= d["count"] %></td>
    <td>
      <% d['votes'].each do |k,v| %>
      <%= k %>: <%= v.keys.join(', ') %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>