<% 
  n = 0
  date = ''
  place = '' 
%>
<table>
  <thead>
    <th>Tag</th>
    <th>Page</th>
    <th>Page number</th>
    <th>Count</th>
    <th>Date</th>
    <th>Place</th>
    <th>Type</th>
    <th>Label</th>
    <th>Data</th>
  </thead>
  <% @tags.each do |d| %>
    <% n += 1 %>
    <% case d["type"] %>
    <% when "diaryDate" %>
    <% date = d["label"] %>
    <% when "place" %>
    <% place = d["label"] if d["votes"]["location"].keys == ['true'] %>
    <% end %>
    <tr>
      <td><%= n %></td>
      <td><%= d["page"] %></td>
      <td><%= d["page_number"] %></td>
      <td><%= d["count"] %></td>
      <td><%= date %></td>
      <td><%= place %></td>
      <td><%= d["type"] %></td>
      <td><%= d['label'] %></td>
      <td>
        <% d['votes'].each do |k,v| %>
        <%= k %>: <%= v.keys.join(', ') %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>