<h1><a href="/">War Diaries Data Digger</a>: Diaries</h1>
<div style="width: 33%; float:left;">
  <h2>Complete</h2>
  <ol>
  <% @diaries.select{|t| t['state'] == 'complete' }.each do |diary| %>
    <li><a href="/diaries/<%= diary.zooniverse_id %>"><%= diary.name %></a> (<%= diary.completed %>%)</li>
  <% end %>
  </ol>
</div>
<div style="width: 33%; float:left;">
  <h2>Active</h2>
  <ol>
  <% @diaries.select{|t| t['state'] == 'active' }.each do |diary| %>
    <li><a href="/diaries/<%= diary.zooniverse_id %>"><%= diary.name %></a> (<%= diary.completed %>%)</li>
  <% end %>
  </ol>
</div>
<div style="width: 33%; float:left;">
  <h2>Inactive</h2>
  <ol>
  <% @diaries.select{|t| t['state'] == 'inactive' }.each do |diary| %>
    <li><a href="/diaries/<%= diary.zooniverse_id %>"><%= diary.name %></a> (<%= diary.completed %>%)</li>
  <% end %>
  </ol>
</div>