<svg height="780" version="1.1" width="1300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1300 780" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
  <image xlink:href="<%= @p.url %>" preserveAspectRatio="xMidYMid meet" width="1300" height="780"/>
    <% @tags.each do |d| %>
      <% if d['type'] == 'diary_date' %>
        <path fill="#000000" stroke="#ff0000" d="M0,<%= d["tag"].y * 7.8 %>C0,<%= d["tag"].y * 7.8 %>,1300,<%= d["tag"].y * 7.8 %>,1300,<%= d["tag"].y * 7.8 %>" stroke-width="1" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: <%= d["hit_rate"]+0.2 %>;"></path>
        <circle cx="<%= d["tag"].x * 13 %>" cy="<%= d["tag"].y * 7.8 %>" r="4" fill="#000000" stroke="<%= @hex[d["type"]] %>" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: <%= d["hit_rate"]+0.2 %>;"></circle>
      <% else %>
        <circle cx="<%= d["tag"].x * 13 %>" cy="<%= d["tag"].y * 7.8 %>" r="12" fill="#000000" stroke="<%= @hex[d["type"]] %>" fill-opacity="0" stroke-width="2" tabindex="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: <%= d["hit_rate"]+0.2 %>;"></circle>
      <% end %>
    <% end %>
</svg>
<div id="catalogue-info">
    <ul>
        <li><span class="key">Diary</span>: <%= @p.name %></li>
        <li><span class="key">Zooniverse ID</span>: <a href="http://talk.operationwardiary.org/#/subjects/<%= @p.id %>" target="_blank"><%= @p.id %></a></li>
        <li><span class="key">TNA ID</span>: <%= @p.tna_id %></li>
        <li><span class="key">TNA Page #</span>: <%= @p.page_number %></li>
    </ul>
</div>
<div id="computed-info">
    <ul>
        <li><span class="key">Volunteers</span>: <%= @p.users.count %> (<%= @p.users.join(", ") %>)</li>
        <li><span class="key">Diary Dates</span>: <%= @p.diary_dates.count %></li>
        <li><span class="key">Places</span>: <%= @p.places.count %></li>
        <li><span class="key">People</span>: <%= @p.people.count %></li>
        <li><span class="key">Activies</span>: <%= @p.activities.count %></li>
        <li><span class="key">Weathers</span>: <%= @p.weathers.count %></li>
    </ul>
</div>
