<% width = 1300 %>
<% height = 780 %>
<% counts = {} %>
<p><%= @p.document_types.join(",") %></p>
<% unless @prev_page.nil? %>
  <a href="/pages/<%= @prev_page.id %>">Previous page</a>
<% end %>
<svg height="<%= height %>" version="1.1" width="<%= width %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 <%= width %> <%= height %>" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
  <image xlink:href="<%= @p.image %>" preserveAspectRatio="xMidYMid meet" width="<%= width %>" height="<%= height %>"/>
    <% @tags.each do |d| %>
    <%
      x = d["tag"]['coords'][0].to_i * width / 100
      y = d["tag"]['coords'][1].to_i * height / 100
      o = d["hit_rate"] + 0.2
      color = @hex[d["type"]] || '#ffffff'
      counts[ d["count"] ] ||= 0
      counts[ d["count"] ] += 1
    %>
      <% if d['type'] == 'diaryDate' %>
        <path fill="#000000" stroke="#ff0000" d="M0,<%= y %>C0,<%= y %>,<%= width %>,<%= y %>,<%= width %>,<%= y %>" stroke-width="1" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: <%= o %>;"></path>
        <circle cx="<%= x %>" cy="<%= y %>" r="4" fill="#000000" stroke="<%= color %>" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: <%= o %>;"></circle>
      <% else %>
        <circle cx="<%= x %>" cy="<%= y %>" r="12" fill="#000000" stroke="<%= color %>" fill-opacity="0" stroke-width="2" tabindex="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: <%= o %>;"></circle>
      <% end %>
      <text opacity="1" fill="#000000" stroke="none" font="10px &quot;Arial&quot;" text-anchor="middle" y="<%= y - 20 %>" x="<%= x %>" style="text-anchor: middle; font: 10px &quot;Arial&quot;; opacity: 1;"><%= d["tag"]['label'] %> (<%= d["count"] %>)</text>
    <% end %>
</svg>
<% unless @next_page.nil? %>
  <a href="/pages/<%= @next_page.id %>">Next page</a>
<% end %>
<div id="catalogue-info">
    <ul>
        <li><span class="key">Diary</span>: <%= @p.group_name %></li>
        <li><span class="key">Zooniverse ID</span>: <a href="http://talk.operationwardiary.org/#/subjects/<%= @p.zooniverse_id %>" target="_blank"><%= @p.zooniverse_id %></a></li>
        <li><span class="key">TNA ID</span>: <%= @p.tna_id %></li>
        <li><span class="key">TNA Page #</span>: <%= @p.page_number %></li>
    </ul>
</div>
<div id="computed-info">
    <ul>
        <li><span class="key">Volunteers</span>: <%= @p.users.count %> (<%= @p.users.join(", ") %>)</li>
    </ul>
</div>
<% @tags.each do |d| %>
<%= d["tag"]['label'] %>, 
<% end %>
<% @p.comments.each do |c|%>
<p><%= c['body'] %></p>
<% end %>
<table>
<% counts.sort_by{|c| c[0]}.each do |c| %>
<tr><th><%= c[0] %></th><td><%= c[1 ]%></td></tr>
<% end %>
</table>