<svg height="600" version="1.1" width="1000" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 600" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
  <image xlink:href="<%= @p.url %>" preserveAspectRatio="xMidYMid meet" width="1000" height="600"/>
    <% @p.diary_dates.each do |d| %>
    <path fill="#000000" stroke="#ff0000" d="M0,<%= d.y * 6 %>C0,<%= d.y * 6 %>,1026,<%= d.y * 6 %>,1026,<%= d.y * 6 %>" stroke-width="1" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
    <circle cx="<%= d.x * 10 %>" cy="<%= d.y * 6 %>" r="4" fill="#000000" stroke="#ff0000" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></circle>
    <% end %>
    <% @p.activities.each do |a| %>
    <circle cx="<%= a.x * 10 %>" cy="<%= a.y * 6 %>" r="12" fill="#000000" stroke="#00ff00" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></circle>
    <% end %>
    <% @p.people.each do |p| %>
    <circle cx="<%= p.x * 10 %>" cy="<%= p.y * 6 %>" r="12" fill="#000000" stroke="#0000ff" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></circle>
    <% end %>
    <% @p.weathers.each do |w| %>
    <circle cx="<%= w.x * 10 %>" cy="<%= w.y * 6 %>" r="12" fill="#000000" stroke="#00ffff" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></circle>
    <% end %>
    <% @p.places.each do |p| %>
    <circle cx="<%= p.x * 10 %>" cy="<%= p.y * 6 %>" r="12" fill="#000000" stroke="#ffff00" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></circle>
    <% end %>
</svg>
<div id="catalogue-info">
    <ul>
        <li><span class="key">Diary</span>: <%= @p.name %></li>
        <li><span class="key">Zooniverse ID</span>: <a href="http://talk.operationwardiary.org/#/subjects/<%= @p.id %>" target="_blank"><%= @p.id %></a></li>
        <li><span class="key">TNA ID</span>: <%= @p.tna_id %></li>
        <li><span class="key">TNA Page #</span>: <%= @p.page_number %></li>
    </ul>
</div>
<div id="computed-info">
    <ul>
        <li><span class="key">Diary Dates</span>: <%= @p.diary_dates.count %></li>
        <li><span class="key">Places</span>: <%= @p.places.count %></li>
        <li><span class="key">People</span>: <%= @p.people.count %></li>
        <li><span class="key">Activies</span>: <%= @p.activities.count %></li>
        <li><span class="key">Weathers</span>: <%= @p.weathers.count %></li>
    </ul>
</div>
