<h1><a href="/">War Diaries Data Digger</a>: <a href="/diaries/<%= @p.group_id %>"><%= @p.group_name %></a> (<%= @g.start_date.strftime('%-d %b %Y') %> — <%= @g.end_date.strftime('%-d %b %Y') %>): page <%= @p.page_number %></h1>
<% width = 1000 %>
<% height = 600 %>
<% counts = {} %>
<% types = {} %>
<% page_type = @p.document_type.keys.join(', ') %>
<div>
<% unless @prev_page.nil? %>
  <a href="/pages/<%= @prev_page.zooniverse_id %>">Previous page</a>
<% end %>
<% unless @next_page.nil? %>
  <a href="/pages/<%= @next_page.zooniverse_id %>">Next page</a>
<% end %>
</div>
<div class="main">
  <dl class="metadata">
    <dt>Page type</dt>
    <dd><%= page_type %></dd>
    <dt>Volunteers</dt>
    <dd><%= @p.users.count %></dd>
    <dt>Classifications</dt>
    <dd><%= @p.classifications.count %></dd>
    <dt>TNA ID</dt>
    <dd><%= @p.tna_id %></dd>
    <dt>Page number</dt>
    <dd><%= @p.page_number %></dd>
    <dt>Status</dt>
    <dd><%= @p.state %></dd>
  </dl>
  <svg height="<%= height %>" version="1.1" width="<%= width %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 <%= width %> <%= height %>" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
    <image xlink:href="<%= @p.image %>" preserveAspectRatio="xMidYMid meet" width="<%= width %>" height="<%= height %>"/>
      <% @tags.each do |d| %>
      <%
        x = d["x"].to_i * width / 100
        y = d["y"].to_i * height / 100
        o = d["hit_rate"]
        color = @hex[d["type"]] || '#ffffff'
        counts[ d["count"] ] ||= 0
        counts[ d["count"] ] += 1
        types[ d["type"] ] ||= 0
        types[ d["type"] ] += 1
      %>
        <% if d['type'] == 'diaryDate' %>
          <path fill="#000000" stroke="<%= color %>" d="M0,<%= y %>C0,<%= y %>,<%= width %>,<%= y %>,<%= width %>,<%= y %>" stroke-width="1" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: <%= o %>;"></path>
          <circle cx="<%= x %>" cy="<%= y %>" r="4" fill="#000000" stroke="<%= color %>" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: <%= o %>;"></circle>
        <% else %>
          <circle cx="<%= x %>" cy="<%= y %>" r="12" fill="#000000" stroke="<%= color %>" fill-opacity="0" stroke-width="2" tabindex="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: <%= o %>;"></circle>
        <% end %>
        <rect y="<%= y - 10 %>" x="<%= x - 50 %>" width="100" height="12" opacity=".5" fill="#ffffff"/>
        <text opacity="1" fill="#000000" stroke="none" text-anchor="middle" y="<%= y %>" x="<%= x %>"><%= d['label'] %> (<%= d["count"] %>)</text>
      <% end %>
  </svg>
</div>
<% 
  n = 0
%>
<table class="timeline">
  <thead>
    <th>Tag</th>
    <th>Count</th>
  <% if page_type == 'diary' %>
    <th>DateTime</th>
    <th>Date</th>
    <th>Place</th>
    <th>Time</th>
  <% end %>
    <th>Type</th>
    <th>Label</th>
    <th>Data</th>
  </thead>
  <tbody>
  <% @p.timeline( @tags ).each do |d| %>
    <% n += 1 %>
    <tr class="<%=d ["type"] %>">
      <td><%= n %></td>
      <td><%= d["count"] %></td>
    <% if d['datetime'] %>
      <td class="nowrap"><%= d['datetime'] %></td>
      <td class="nowrap"><%= d['date'] %></td>
      <td><%= d['place'] %></td>
      <td><%= d['time'] %></td>
    <% end %>
      <td><%= d["type"] %></td>
      <td><%= d['label'] %></td>
      <td>
        <% d['votes'].each do |k,v| %>
        <%= k %>: <%= v.keys.join(', ') %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="info">
  <h2>comments</h2>
  <% @p.comments.reverse.each do |c|%>
    <p><%= c['body'] %></p>
  <% end %>
    <ul>
        <li><span class="key">Diary</span>: <a href="/diaries/<%= @p.group_id %>"><%= @p.group_name %></a></li>
        <li><span class="key">Zooniverse ID</span>: <a href="http://talk.operationwardiary.org/#/subjects/<%= @p.zooniverse_id %>" target="_blank"><%= @p.zooniverse_id %></a></li>
        <li><span class="key">TNA ID</span>: <%= @p.tna_id %></li>
        <li><span class="key">TNA Page #</span>: <%= @p.page_number %></li>
    </ul>
</div>
<div id="computed-info" class="info">
    <ul>
        <li><span class="key">Volunteers</span>: <%= @p.users.count %> (<%= @p.users.join(", ") %>)</li>
        <li><span class="key">Classifications</span> <%= @p.classifications.count %></li>
        <li><span class="key">Page Type</span>: <%= @p.document_type.keys.join(', ') %></li>
    </ul>
</div>
<table class="info">
  <thead><th>Tag type</th><th>Count</th></thead>
<% types.sort_by{|c| -1 * c[1]}.each do |c| %>
<tr><td><%= c[0] %></td><td><%= c[1 ]%></td></tr>
<% end %>
</table>
<table class="info">
  <thead><th>Tag count</th><th>Frequency</th></thead>
<% counts.sort_by{|c| c[0]}.each do |c| %>
<tr><td><%= c[0] %></td><td><%= c[1 ]%></td></tr>
<% end %>
</table>