<h1><a href="/">War Diaries Data Digger</a>: Diaries</h1>
<p>By downloading this data, you  agree to the terms of <a href="http://www.nationalarchives.gov.uk/doc/non-commercial-government-licence/">The National Archives&rsquo; &lsquo;Non Commercial Government Licence.&rsquo;</a> Please read before downloading.</p>
  <h2>Complete</h2>
  <ol>
  <% @diaries.each do |diary| %>
    <li>
      <%= diary.metadata['source'].upcase %><br>
      <%= diary.name %> (<%= diary.completed %>%)<br>
      (<%= diary.start_date.strftime('%-d %b %Y') %> — <%= diary.end_date.strftime('%-d %b %Y') %>)<br>
      <a href="/diaries/<%= diary.zooniverse_id %>/csv">Download tag data (CSV)</a><br>
      <a href="http://discovery.nationalarchives.gov.uk/SearchUI/details?Uri=<%= diary.metadata['id'] %>">Download diary from the National Archives</a>
    </li>
  <% end %>
  </ol>
</div>